<h1>My Blog With All My Feelings</h1>

<div class="post">
  <h2>First Post</h2>
  <h3 class="author">Some Author</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque pariatur, ipsa asperiores impedit ipsum distinctio, adipisci? Veniam nemo natus excepturi dolores commodi, omnis assumenda laboriosam molestias quibusdam sapiente, quidem aperiam?</p>
    <p>Odio quas deserunt commodi quaerat expedita voluptatum id ad tempore quam magni minima dolore officia, qui ut rerum cupiditate. Numquam quia quisquam, minima perferendis dolorem tempora. Dolore, dignissimos atque sint.</p>
  </div>
</div>

<div class="post">
  <h2>Second Post</h2>
  <h3 class="author">Some Author</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque pariatur, ipsa asperiores impedit ipsum distinctio, adipisci? Veniam nemo natus excepturi dolores commodi, omnis assumenda laboriosam molestias quibusdam sapiente, quidem aperiam?</p>
    <p>Odio quas deserunt commodi quaerat expedita voluptatum id ad tempore quam magni minima dolore officia, qui ut rerum cupiditate. Numquam quia quisquam, minima perferendis dolorem tempora. Dolore, dignissimos atque sint.</p>
  </div>
</div>

<div class="post">
  <h2>Third Post</h2>
  <h3 class="author">Some Author</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque pariatur, ipsa asperiores impedit ipsum distinctio, adipisci? Veniam nemo natus excepturi dolores commodi, omnis assumenda laboriosam molestias quibusdam sapiente, quidem aperiam?</p>
    <p>Odio quas deserunt commodi quaerat expedita voluptatum id ad tempore quam magni minima dolore officia, qui ut rerum cupiditate. Numquam quia quisquam, minima perferendis dolorem tempora. Dolore, dignissimos atque sint.</p>
  </div>
</div>

<hr>

<div class="notification">
  This is a notice
</div>

<div class="error">
  This is an error
</div>

<div class="success">
  This is success
</div>
