<h2>Asset Helpers</h2>

<!--img src="http://fillmurray.com/500/500" alt="Bill Murray" -->

<%= image_tag "http://fillmurray.com/500/500", :alt => 'Bill Murray' %>

<%= image_tag 'smoking.jpg', :alt => 'Child smoking' %>
