<div class="row">
  <div class="offset-md-4 col-md-4">
    <h1>Welcome To Tunr</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Trump Assassinated</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, quo laudantium alias quae harum iure molestiae blanditiis ea similique enim dolores corrupti magnam numquam ut placeat. Impedit libero recusandae nisi?</p>
  </div>

  <div class="col-md-4">
    <h2>Royal Family Actually Lizards</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quos voluptatibus voluptatum unde eius, iusto sit officia, sed aperiam ea et quae odit odio, repellat consectetur nesciunt est soluta debitis.</p>
  </div>

  <div class="col-md-4">
    <h2>Flu Epidemic</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis culpa, aperiam omnis labore natus sed repudiandae laborum doloremque eos laboriosam beatae. Impedit ab ex inventore rem debitis distinctio provident voluptates?</p>
  </div>
</div>
