<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Crappy Calculator</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>

    <h1>My Crappy Calculator</h1>

    <!-- before yield -->
    <%= yield %>
    <!-- after yield -->

    <footer>
      &copy; Copyright 2019 ALL RITES REVERSED
    </footer>

  </body>
</html>
