<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book Search</title>
  <link rel="stylesheet" href="css/master.css">
</head>
<body>

  <h2>Book Search Coming Soon</h2>

  <form action="/search">
    <label for="title">Book title:</label>
    <input id="title" type="search" name="title">
    <button>Search</button>
  </form>

</body>
</html>
