<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
  <% include ../partials/navigation %>
  <h2>Book Search</h2>

  <form action="/search">
    <label for="title">Book title:</label>
    <input id="title" type="search" name="title" required>
    <button>Search</button>
  </form>

</body>
</html>
